# URL du mode Transaction (géré par Supavisor, généralement sur le port 6543)
DATABASE_URL="postgresql://postgres.[ID_PROJET]:[MOT_DE_PASSE]@aws-0-[REGION].pooler.supabase.com:6543/postgres?pgbouncer=true"

# URL Directe (port 5432) pour exécuter les migrations
DIRECT_URL="postgresql://postgres.[ID_PROJET]:[MOT_DE_PASSE]@aws-0-[REGION].pooler.supabase.com:5432/postgres"